@tailwind base;
@tailwind components;
@tailwind utilities;

body{   
  font-family: 'poppins', sans-serif;
  background-color: black;
}  
h1,h2{   
  font-family: 'Roboto', sans-serif; 
}

@layer utilities{
  .gradient{
    background: linear-gradient(-45deg, #0d1117, #1dd1a1, #1dd1a1)
  }
}